@import url('https://fonts.googleapis.com/css2? family= Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700 & display=swap');

/*css da body*/
html, body {
    font-family: Ubuntu, Arial; /*fonte da body*/
    width: 100%; /*largura da body*/
    height: 100%; /*altura da body*/
}

/*css da aside*/
#header {
    position: fixed; /*posição fixa quando rolar a pagina*/
    top: 0; /*posição presa no topo da pagina*/
    left: 0; /*posição presa na esquerda da pagina*/
    bottom: 0; /*posição presa em baixo da pagina*/
    background: #021124; /*cor do fundo*/
    overflow-y: auto; /*cria um scrol quando a tela for diminuida e o conteudo for grande para não corta-lo*/
    width: 300px; /*largura fixa*/
    transition: allease-in-out 0.5s; /*transição para esconder o menu e voltar a mostra-lo*/
    padding: 0 15px; /*distancia zero em cima e em baixo e 15 px da esquerda e da direita*/
    z-index: 9997; /*para se sobrepor a qualquer outro conteudo fora da header*/
}

/*css da foto do menu lateral*/
#header .profile img {
    margin: 15px auto; /*margem de 15 px para cima e para baixo e automatico para a esquerda e direita*/
    display: block; /*forma do display*/
    width: 120px; /*largura*/
    border:8px solid #2c2f3f; /*borda solida com cor*/
    border-radius: 50%; /*deixa a foto redonda*/
}

/*css do nome do menu lateral*/
#header .profile h1 {
    font-size: 24px; /*tamanho do h1*/
    margin: 0; /*sem margem*/
    padding: 0; /*sem distancia*/
    font-weight: 600; /*tamanho da fonte*/
    text-align: center; /*alinhamento central do texto*/
    color: #fff; /*cor da fonte*/
}

/*css dos icones das redes sociais do menu lateral*/
#header .profile .social-links a {
    font-size: 1rem; /*tamanho da fonte*/
    background: #212431; /*cor do fundo*/
    color: #fff; /*cor da fonte*/
    padding: 0.6rem; /*tamanho da distancia*/
    margin-right: 1rem; /*tamanho da margem para direita*/
    border-radius: 50%; /*deixar o icone redondo*/
    transition: 0.3s; /*na hora de aplicar o hover*/
    text-decoration: none; /*tirar todo o texto de um link padrão*/
}

#header .profile .social-links a:hover {
    background: #149ddd; /*quando passar o mouse em cima do icone mudar de cor*/
}

.nav-menu {
    padding: 1.5rem;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex; /*deixa o displai com flex box*/
    align-items: center; /*centraliza os icones co as frases*/
    color: #a8a9b4; /*cor do icone em descanço*/
    transition: 0.3s; /*na hora de aplicar o hover*/
    font-size: 15px; /*tamanho da fonte*/
}

/*para alterar apenas o icone*/
.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px; /*tamanho da fonte*/
    padding-right: 0.8rem; /*distancia do icone para direita*/
    color: #6f7180; /*cor do icone em descanço*/
}

/*alterando o link ao fazer um houver*/
.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover > a {
    text-decoration: none; /*sem decoração de texto no link*/
    color: #fff; /*cor da fonte do link ao passar o mouse*/
}

/*alterando o icone ao fazer um houver*/
.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover > a i {
    color: #149ddd; /*cor do icone ao passar o mouse*/
}

/*começa a margem esquerda da main para sair de tras do menu lateral*/
#main {
    margin-left: 300px;
}

/*css do backgroud da main*/
section#inicio {
    background-image: url(./img/fundo.jpg); /*coloca uma imagem no background*/
    background-repeat: no-repeat; /*para não se repetir*/
    background-size: cover; /*para a imagem ocupar todo o espaço do background*/
    background-attachment: fixed; /*deixa a imagem fixa mesmo que voce role a pagina*/
    background-position: center; /*posiciona a imagem no centro da tela*/
    width: 100%; /*tamanho da largura*/
    height: 100vh; /*tamanho da altura, o vh é tamanho total da tela*/
}

/*titulo da main*/
section#inicio h2 {
    font-size: 6rem; /*tamanho da fonte*/
}

/*subtitulo da main*/
section#inicio span#subtitle{
    margin-right: 8rem; /*posiciona a margem a direita*/
    font-size: 1,5rem; /*tamanho da fonte*/
}

/*colocando borda no texto*/
.text-shadow {
    text-shadow: 4px 4px 10px #000000;
}

/*css da tag arraste para mais*/
section#inicio div#arraste {
    width: 9rem; /*tamanho da largura*/
}

/*responsividade com css*/
i.menu-mobile {
    position: fixed; /*fixa o icone amburguer*/
    color: #fff; /*cor do icone amburguer*/
    background-color: #030327; /*cor do fundo do icone amburguer*/
    right: 1rem; /*posição que o icone amburguer fida do lado direito*/
    top: 1rem; /*posição que o icone amburguer fica do topo*/
    font-size: 1.5rem; /*tamanho da fonte do icone amburguer*/
    border-radius: 4rem; /*deixa o icone amburguer redondo*/
    cursor: pointer; /*transforma o cursor em uma mão*/
    z-index: 10; /*deixa o icone amburguer elevado das outras tag*/
    width: 45px; /*largura do icone amburguer*/
    height: 45px; /*altura do icone amburguer*/
    display: none; /*deixa o icone amburguer invisivel qualdo a tela for maior que 1024px*/
    justify-content: center; /*centraliza o icone amburguer*/
    align-items: center; /*centraliza o icone amburguer*/
}

/*quando acionar o menu amburguer no mobile*/
.menu-nav-active{
    overflow: hidden; /*quando o menu lateral estiver ativo no mobile tira o scrow até ele desaparecer*/
}

/*quando acionar o menu amburguer no mobile*/
.menu-nav-active #header {
    left: 0; /*faz com que o menu lateral fique com a tag left com 300px novamente*/
}

/*altera as tags quando a tela estiver do tamanho de 1024px*/
@media (max-width: 1024px) {
    /*alteração do menu lateral*/
    #header{
        left: -300px; /*faz sumir o menu lateral quando a tela tiver - 1024px*/
    }

    /*alteração icone amburguer*/
    i.menu-mobile{
        display: flex; /*deixa visivel o icone amburguer quando a tela esta com 1024px*/
    }

    /*alteração do titulo da main*/
    section#inicio h2{
        font-size:3.5rem; /*altera a fonte do h2 quando a tela for menor que 1024px*/
    }

    /*alteração do subtitulo da main*/
    section#inicio span#subtitle{
        margin-right: 0; /*altera a margem do subtitulo na main quando a tela estiver com 1024px*/
        font-size: 1rem; /*altera o tamanho da fonte do subtitulo na main quando a tela estiver com 1024px*/
    }

    /*alteração do backgroind da main*/
    #main{
        margin-left: 0; /*deixa a margem a esquerda com 0px quando a tela tiver com 1024px*/
    }
}

/*acionando o telefone conforme o tamanho da tela*/
@media screen and (max-device-width: 767px) and (orientation: landscape) {
    .tel{ display:block !important; }
}

/*acionando o telefone conforme o tamanho da tela*/
@media only screen and (max-width: 2560px){
    .tel{ display:block !important; }
}

/*css do scrollbar*/
*::-webkit-scrollbar {
    width: 10px; /*largura do scrollbar*/
}

/*estilizando o backgroud do scrollbar*/
*::-webkit-scrollbar-track {
    width: 12px;
    box-shadow: inset 0 0 .3rem #000050;
    background-color: #fff;
}

/*estilizando o backgroud do thumb do scrollbar*/
*::-webkit-scrollbar-thumb {
    background-color: #252c90;
}