<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="../static/img/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Meu Portfólio</title>
</head>
<body>

    <!--icone de menu amburguer-->
    <i class="bi bi-list menu-mobile"></i>
    
    <!--inicio do menu lateral responsiva-->
    <aside id="header">

        <!--inicio seção icones-->
        <section class="profile">
            <img src="../static/img/perfil.png" alt="Foto do Alexandre">
            <h1>Alexandre Stumpf</h1>
            <div class="social-links mt-4 text-center">
                <!--o comando mt-4 text-center, é um comando padrão do bootstrap-->

                <!--icone linkedin-->
                <a target="_blank" href="https://www.linkedin.com/in/alexandrestumpf22/">
                    <i class="bi bi-linkedin"></i>
                </a>

                <!--icone facebook-->
                <a target="_blank" href="https://www.facebook.com/alexandrestumpf22">
                    <i class="bi bi-facebook"></i>
                </a>

                <!--icone instagram-->
                <a target="_blank" href="https://www.instagram.com/alexandrestumpf22/">
                    <i class="bi bi-instagram"></i>
                </a>

                <!--icone git hub-->
                <a target="_blank" href="https://github.com/stumpf-alexandre">
                    <i class="bi bi-github"></i>
                </a>

            </div>
        </section>
        <!--fim seção icones-->

        <!--inicio itens menu lateral-->
        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">

                <!--item inicio-->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#inicio">
                        <i class="bi bi-house"></i>
                        Inicio
                    </a>
                </li>

                <!--item sobre-->
                <li class="nav-item">
                    <a class="nav-link" href="#sobre">
                        <i class="bi bi-person"></i>
                        Sobre
                    </a>
                </li>

                <!--item habilidades-->
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades">
                        <i class="bi bi-list-check"></i>
                        Habilidades
                    </a>
                </li>

                <!--item curriculo-->
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#curriculo">
                        <i class="bi bi-file-earmark"></i>
                        Currículo
                    </a>
                </li>

                <!--item portfolio-->
                <!--<li class="nav-item">
                    <a class="nav-link" href="#portfolio">
                        <i class="bi bi-collection"></i>
                        Portfólio
                    </a>
                </li>-->

                <!--item email-->
                <li class="nav-item">
                    <a class="nav-link" href="#email">
                        <i class="bi bi-envelope"></i>
                        E-mail
                    </a>
                </li>

              </ul>
        </nav>
        <!--fim itens menu lateral-->

    </aside>
    <!--fim do menu lateral-->

    <!--inicio do conteúdo principal-->
    <main id="main">

        <!--inicio a seção inicio-->
        <section id="inicio" class="row m-0 p-0"> <!--row m-0 p-0 -> a row significa que é uma linha dentro do codigo, e m-0 sem margem e p-0 sem padding, ficando 100% fixa nas margens da pagina-->
            
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column"> <!--classe 100% bootstrap-->
                <!--subtitulo inicio-->
                <h2 class="text-white text-shadow">Alexandre Stumpf</h2>
                <span id="subtitle" class="text-white text-shadow"> <!--o text white é do bootstrap-->
                    Analista e Desenvolvedor de Sistemas
                </span>
            </div>

            <div class="col-md-7 d-flex justify-content-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true"></i>
                    <a class="text-white text-decoration-none" href="#sobre">Arraste p/ mais</a>
                </div>
            </div>

        </section>
        <!--fim da seção inicio-->

        <!--inicio a seção sobre-->
        <section id="sobre" class="container mt-5"> <!--classe padrão do bootstrap-->

            <div class="row w-100"> <!--sistema de grid do bootstrap-->
                <div class="col-md-12" data-anime="down"><!--o metodo data serve para utilizar atributos diferenciados, utilizar ou replicar ele em outras partes-->
                    <!--subtitulo sobre-->
                    <h2 class="pt-3">Sobre</h2>
                    <p>
                        Proativo, fácil relacionamento, criatico, com 
                        habilidades para priorizar grandes volumes de 
                        trabalho com a equipe. Busco uma oportunidade de 
                        trabalho para colocar meus conhecimentos adquiridos 
                        em prática.
                    </p>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-4">
                    <img class="img-fluid shadow" src="../static/img/perfil.png" alt="Foto do Alexandre" data-anime="left"/> <!--img-fluid e shadow são classes do bootstrap, a img-fluid a imagem se adapta a qualquer tamanho e o shadow coloca um leve sombreamento na borda da imagem-->
                </div>
                <div class="col-md-8" data-anime="right">
                    <h3>Formação</h3>
                    <details>
						<summary>Ensino Médio</summary>
						<ul>
							<li>
								<em>Escola Estadual de 1° e 2° graus Daniel de Oliveira Paiva</em>, 1997
								<br>
								Técnico em Agropecuaria
							</li>
						</ul>
					</details>

					<hr>

					<details>
						<summary>Ensino Superior</summary>
						<ul>
							<li>
								<em>Universidade Luterana do Brasil</em>, 2018
								<br>
								Tecnólogo em Analise e Desenvolvimento de Sistemas
							</li>
						</ul>
					</details>

					<hr>

					<details>
						<summary>Pós-Graduação</summary>
						<ul>
							<li>
								<em>Faculdade Metropolitana do Estado de São Paulo</em>, 2021
								<br>
								Ciência de Dados e Big Data Analytics
							</li>
						</ul>
					</details>

                    <hr>

                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item">
                                    Nascido: <span class="fw-lighter">22 de outubro de 1979</span>
                                </li>
                                <li class="list-group-item">
                                    Cidade: <span class="fw-lighter">Torres</span>
                                </li>
                                <li class="list-group-item">
                                    Estado: <span class="fw-lighter">Rio Grande do Sul</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group list-group-flush fs-5">
                                <li class="list-group-item tel">
                                    Tel/WattsApp: <a href="tel:+5551980307155" class="fw-lighter text-decoration-none link-dark">51 98030-7155</a>
                                </li>
                                <li class="list-group-item">
                                    Telegram: <a href="https://t.me/alexandrestumpf22" class="fw-lighter text-decoration-none link-dark" target="_blank">@alexandrestumpf22</a>
                                </li>
                                <li class="list-group-item">
                                    Skype: <a href="skype:live:als.stumpf_2" class="fw-lighter text-decoration-none link-dark">live:als.stumpf_2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--fim da seção sobre-->

        <!--inicio da seção habilidades-->
        <section id="habilidades" class="mt-5 section-bg">

            <div class="container pb-5">
                <!--subtitulo habilidades-->
                <h2 class="pt-5">Habilidades</h2>
                <p>
                    Habilidades tecnicas adquiridas de acordo 
                    com a porcentagem de conhecimento, que 
                    acredito ter em cada uma delas.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML5</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                75%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">CSS3</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                60%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">Java Script</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
                                15%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">Java</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 85%;" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                85%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">C#</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 55%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100">
                                55%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">PHP</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 45%;" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100">
                                45%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">Flutter</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100">
                                35%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">.Net</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 27%;" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100">
                                27%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">My SQL</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                                80%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">Postgre SQL</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                25%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">SQLite</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 58%;" aria-valuenow="58" aria-valuemin="0" aria-valuemax="100">
                                58%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">PHPMyAdmin</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                40%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">Firebase</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">
                                70%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">SCRUM</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 79%;" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">
                                79%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">UML</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 67%;" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">
                                67%
                            </div>
                        </div>

                        <p class="mt-3 mb-0">Python</p> <!--mt deixa um espaçamento a cima da tag p e o mb deixa um espaçamento a baixo da tag p-->
                        <div class="progress">
                            <div class="progress-bar" data-anime="left" role="progressbar" style="width: 10%;" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100">
                                10%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--fim da seção habilidades-->

        <!--inicio da seção curriculo-->
        <section id="curriculo" class="mt-5 cv">

            <div class="container pb-5">
                <!--subtitulo curriculo-->
                <h2 class="pt-3 pb-4">Currículo</h2>

                <div class="row">
                    <div class="col-md-6">
                        <h3>Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Hydrolift - Implementos Rodoviários LTDA</h4>
                            <h5>03/08/2020 à Atual</h5>
                            <p>
                                Funções exercidas: Soldador, responsável pela montagem e manutenção estrutural, hidraulical e elétrica, das plataformas elevatórias.
                            </p>
                        </div>
                        
                        <div class="cv-item" data-anime="up">
                            <h4>Transportes e Logística A L LTDA</h4>
                            <h5>07/05/2020 à 31/07/2020</h5>
                            <p>
                                Funções exercidas: Motorista de Caminhão, responsável pela logistica e transporte de produtos e encomendas para os clientes.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Uno Sul Comercio de Vidros LTDA</h4>
                            <h5>06/01/2020 à 04/04/2020</h5>
                            <p>
                                Funções exercidas: Operador de ponte rolante, responsável pelo recebimento dos vidros, sua estocagem e sua condução para as mesas de corte.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Vidroforte Industria e Comercio de Vidros S/A</h4>
                            <h5>28/05/2014 à 07/06/2019</h5>
                            <p>
                                Funções exercidas: Operador de produção, responsável pelo recebimento dos vidros, sua estocagem e beneficiamento.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Marcopolo S/A</h4>
                            <h5>16/09/2008 à 24/01/2014</h5>
                            <p>
                                Funções exercidas: Soldador e montador de carrocerias de ônibus, assim como controle de estoque das peças produzidas e a sua fabricação.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Doux Frangosul S/A</h4>
                            <h5>01/082008 à 11/09/2008</h5>
                            <p>
                                Funções exercidas: Auxiliar de Fábrica.
                            </p>
                        </div>

                        <div class="cv-item"  data-anime="up">
                            <h4>Unesul de Transportes LTDA</h4>
                            <h5>12/12/2001 à 05/06/2008</h5>
                            <p>
                                Funções exercidas: Cobrador, responsável pela cobrança das passagens, assim como o bem-estar dos passageiros, suas bagagens e a conservação dos ônibus e as entregas de encomendas em seus respectivos locais de entregas.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Unesul de Transportes LTDA</h4>
                            <h5>13/12/2000 à 06/03/2001</h5>
                            <p>
                                Funções exercidas: Cobrador, responsável pela cobrança das passagens, assim como o bem-estar dos passageiros, suas bagagens e a conservação dos ônibus e as entregas de encomendas em seus respectivos locais de entregas.
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Magna Engenharia LTDA</h4>
                            <h5>12/05/1997 à 27/03/1998</h5>
                            <p>
                                Funções exercidas: Fiscal de Vala, para inspecionar e controlar os projetos realizados pela empresa.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h3>Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Informatica Básica</h4>
                            <h5>2010 à 2010</h5>
                            <p>
                                <em>Microlins</em>
                                72 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/InfoBasica.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p> 
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Montagem e Manutenção de Computadores e Redes</h4>
                            <h5>2011 à 2012</h5>
                            <p>
                                <em>Microlins</em>
                                96 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/MontagemRedeComp.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>ASP.NET Core, Aprendendo do zero ao avançado</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Udemy</em>
                                15 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/ASP.NetCore.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Marketing Pessoal</h4>
                            <h5>2015 à 2015</h5>
                            <p>
                                <em>Cursos Online SP</em>
                                20 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/MarquetinPessoal.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Nivelamento JAVA</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Android Pro</em>
                                6 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/NivelamentoJava.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>PHP Academy</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Softblue</em>
                                12 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/PHPAcademy.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>UML - Guia Básico para Análise e Projeto de Sistemas I</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Udemy</em>
                                2 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/CertificadoUML1.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>UML - Guia Básico para Análise e Projeto de Sistemas II</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Udemy</em>
                                1,5 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/CertificadoUML2.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>                
                            </p>    
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Curso Android - Criando CRUD Completo</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Udemy</em>
                                1,5 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/CertificadoCRUD.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Android com Firebase</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Udemy</em>
                                10 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/AndroidFirebase.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>   
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Firebase para Android - Módulo I - Autenticações</h4>
                            <h5>2018 à 2018</h5>
                            <p>
                                <em>Udemy</em>
                                7,5 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/FirebaseParaAndroidModuloIAutenticações.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Firebase para Android - Módulo II - Storage e Database</h4>
                            <h5>2019 à 2019</h5>
                            <p>
                                <em>Udemy</em>
                                16,5 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/FirebaseParaAndroidModuloIIStorageEDatabase.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>

                        <div class="cv-item" data-anime="up">
                            <h4>Git e GitHub</h4>
                            <h5>2017 à 2017</h5>
                            <p>
                                <em>Udemy</em>
                                2 horas
                                <div class="d-flex justify-content-end align-items-end">
                                    <a class="button" href="../static/img/certificados/Git.pdf" target="_blank">
                                        <input class="btn-outline-primary" type="button" value="Ver Certificado">
                                    </a>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--fim da seção curriculo-->

        <!--inicio da seção contato-->
        <section id="contato" class="section-bg pt-5 pb-5">

            <div class="container mb-5">
                <!--subtitulo contato-->
                <h2 class="pt-3 pb-3">Contato</h2>
                <div class="row">

                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0" data-anime="up">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt"></i> Localização:</h4>
                                <p>Torres, RS</p>
                            </div>

                            <div class="email">
                                <h4><i class="bi bi-envelope"></i> E-mail:</h4>
                                <p>als.stumpf@gmail.com</p>
                            </div>

                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!
                            1m3!1d3477.1518499752956!2d-49.790617810994206!3d-29.36584271
                            764064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95
                            226eda0051e535%3A0x72eceee363a15c02!2sEstr.%20Pedro%20Silveira
                            %20Sim%C3%A3o%20-%20Torres%2C%20RS%2C%2095560-000!5e0!3m2!1s
                            pt-BR!2sbr!4v1645057462729!5m2!1spt-BR!2sbr" width="400" 
                            height="300" style="border:0;" allowfullscreen="" 
                            loading="lazy" class="w-100"></iframe>

                        </div>
                    </div>

                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" data-anime="left">
                            <form class="row g-3" action='/send' method="POST">
                                <div class="col-md-6">
                                  <label for="nome" class="form-label">Nome:</label>
                                  <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6">
                                  <label for="email" class="form-label">E-mail:</label>
                                  <input type="email" class="form-control" id="email" name="email" placeholder="Digite seu e-mail" required>
                                </div>
                                
                                <div class="col-12">
                                  <label for="mensagem" class="form-label">Mensagem:</label>
                                  <textarea type="text" class="form-control" id="mensagem" name="mensagem" placeholder="Digite sua mensagem" rows="10" required></textarea>
                                </div>
                                
                                <div class="col-12 d-flex d-flex justify-content-center mt-5">
                                  <button id="btn-enviar" type="submit" class="btn-outline-primary" >Enviar e-mail</button>
                                  <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                      Enviando...
                                  </button>
                                </div>
                              </form>
                        </div>
                    </div>

                </div>
            </div>

        </section>
        <!--fim da seção contato-->

        <!--para chamar a mensagem flash do Python no HTML-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <div id="alerta" class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="bi bi-check-circle-fill"></i> {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>
    <!--fim do conteúdo principal-->

    <!--inicio do conteúdo rodapé-->
        <footer id="footer">
            <div class="container">
                <div class="text-center">
                    &copy;Copyright <strong>Alexandre Stumpf</strong>
                </div>
            </div>
        </footer>
    <!--fim do conteúdo rodapé-->

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>